In [1]:
import pandas as pd

.dt allows us to access our datetime objects in Series or Dataframes

In [2]:
one_week = pd.date_range(start='2025.01.01', end='2025.01.07')
one_week

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07'],
              dtype='datetime64[ns]', freq='D')

In [3]:
one_week_df = pd.Series(one_week).to_frame(name='Dates')
one_week_df

       Dates
0 2025-01-01
1 2025-01-02
2 2025-01-03
3 2025-01-04
4 2025-01-05
5 2025-01-06
6 2025-01-07

In [4]:
one_week_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Dates   7 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 188.0 bytes

In [16]:
one_week_df['Dates'].dt.day
one_week_df

       Dates
0 2025-01-01
1 2025-01-02
2 2025-01-03
3 2025-01-04
4 2025-01-05
5 2025-01-06
6 2025-01-07

In [8]:
one_week_df['Dates'].dt.month

0    1
1    1
2    1
3    1
4    1
5    1
6    1
Name: Dates, dtype: int32

In [9]:
one_week_df['Dates'].dt.year

0    2025
1    2025
2    2025
3    2025
4    2025
5    2025
6    2025
Name: Dates, dtype: int32

In [10]:
one_week_df['Dates'].dt.day_name()

0    Wednesday
1     Thursday
2       Friday
3     Saturday
4       Sunday
5       Monday
6      Tuesday
Name: Dates, dtype: object

In [14]:
one_week_df['Dates'].dt.to_period()
one_week_df

       Dates
0 2025-01-01
1 2025-01-02
2 2025-01-03
3 2025-01-04
4 2025-01-05
5 2025-01-06
6 2025-01-07

In [17]:
one_week_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Dates   7 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 188.0 bytes