In [1]:
import pandas as pd

In [2]:
twelve_months = pd.date_range(start='2025.1', end='2025.12', freq='MS')
df = pd.Series(data='something', index=twelve_months).to_frame('Data')
df

                 Data
2025-01-01  something
2025-02-01  something
2025-03-01  something
2025-04-01  something
2025-05-01  something
2025-06-01  something
2025-07-01  something
2025-08-01  something
2025-09-01  something
2025-10-01  something
2025-11-01  something
2025-12-01  something

In [4]:
ts = df.index[0]
ts.month_name()

'January'

In [5]:
ts.day_name()

'Wednesday'

In [6]:
ts.year

2025

In [7]:
ts.month

1

In [10]:
ts.days_in_month

31

In [11]:
df.index

DatetimeIndex(['2025-01-01', '2025-02-01', '2025-03-01', '2025-04-01',
               '2025-05-01', '2025-06-01', '2025-07-01', '2025-08-01',
               '2025-09-01', '2025-10-01', '2025-11-01', '2025-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [12]:
df.index.month_name()

Index(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype='object')

In [13]:
df['Month'] = df.index.month_name()
df

                 Data      Month
2025-01-01  something    January
2025-02-01  something   February
2025-03-01  something      March
2025-04-01  something      April
2025-05-01  something        May
2025-06-01  something       June
2025-07-01  something       July
2025-08-01  something     August
2025-09-01  something  September
2025-10-01  something    October
2025-11-01  something   November
2025-12-01  something   December

In [14]:
df['Dates'] = df.index
df

                 Data      Month      Dates
2025-01-01  something    January 2025-01-01
2025-02-01  something   February 2025-02-01
2025-03-01  something      March 2025-03-01
2025-04-01  something      April 2025-04-01
2025-05-01  something        May 2025-05-01
2025-06-01  something       June 2025-06-01
2025-07-01  something       July 2025-07-01
2025-08-01  something     August 2025-08-01
2025-09-01  something  September 2025-09-01
2025-10-01  something    October 2025-10-01
2025-11-01  something   November 2025-11-01
2025-12-01  something   December 2025-12-01

In [15]:
df['Dates'].info()

<class 'pandas.core.series.Series'>
DatetimeIndex: 12 entries, 2025-01-01 to 2025-12-01
Freq: MS
Series name: Dates
Non-Null Count  Dtype
--------------  -----
12 non-null     datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 192.0 bytes

In [18]:
df['Dates'].dt.day_name()

2025-01-01    Wednesday
2025-02-01     Saturday
2025-03-01     Saturday
2025-04-01      Tuesday
2025-05-01     Thursday
2025-06-01       Sunday
2025-07-01      Tuesday
2025-08-01       Friday
2025-09-01       Monday
2025-10-01    Wednesday
2025-11-01     Saturday
2025-12-01       Monday
Freq: MS, Name: Dates, dtype: object

In [19]:
df['Days'] = df['Dates'].dt.day_name()
df

                 Data      Month      Dates       Days
2025-01-01  something    January 2025-01-01  Wednesday
2025-02-01  something   February 2025-02-01   Saturday
2025-03-01  something      March 2025-03-01   Saturday
2025-04-01  something      April 2025-04-01    Tuesday
2025-05-01  something        May 2025-05-01   Thursday
2025-06-01  something       June 2025-06-01     Sunday
2025-07-01  something       July 2025-07-01    Tuesday
2025-08-01  something     August 2025-08-01     Friday
2025-09-01  something  September 2025-09-01     Monday
2025-10-01  something    October 2025-10-01  Wednesday
2025-11-01  something   November 2025-11-01   Saturday
2025-12-01  something   December 2025-12-01     Monday