In [13]:
import pandas as pd

In [15]:
numbers = [1, 2, 3, 4, 5]

In [16]:
pd.Series(numbers) # Shift + Tab for documentation

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [23]:
letters = ['a', 'b', 'c', 'd', 'e']

In [24]:
pd.Series(data=numbers, index=letters) # Index can be any data typed

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [26]:
pd.Series(data = letters, index = ['letter 1', 'letter 2', 'letter 3', 'letter 4', 'letter 5'])

letter 1    a
letter 2    b
letter 3    c
letter 4    d
letter 5    e
dtype: object

In [27]:
data = {'name': 'Luigi', 'age':26, 'work': 'Unemployed'}

In [28]:
pd.Series(data=data)

name         Luigi
age             26
work    Unemployed
dtype: object

In [29]:
pd.Series(data=data, index=['name', 'age', 'job'])

name    Luigi
age        26
job       NaN
dtype: object