In [1]:
import pandas as pd

In [2]:
series = pd.Series([100,200,300])
series

0    100
1    200
2    300
dtype: int64

In [3]:
data = ({'a':[100,200,300], 'b':[400,500,600], 'c':[700,800,900]})
df = pd.DataFrame(data)
df

     a    b    c
0  100  400  700
1  200  500  800
2  300  600  900

In [4]:
series.sum()

np.int64(600)

In [7]:
df.sum().sum()

np.int64(4500)

In [6]:
df.sum(axis=1)

0    1200
1    1500
2    1800
dtype: int64

In [ ]:
df.sum(axis=1)

In [ ]:
df.sum(axis=0)

In [ ]:
df.max(axis=1)