In [1]:
import pandas as pd

In [3]:
movies = pd.read_csv('imdb_top_1000.csv', usecols=['Series_Title', 'IMDB_Rating', 'No_of_Votes', 'Gross', 'Released_Year', 'Genre'])
movies

,Series_Title,Released_Year,Genre,IMDB_Rating,No_of_Votes,Gross
0,The Shawshank Redemption,1994,Drama,9.3,2343110,"28,341,469"
1,The Godfather,1972,"Crime, Drama",9.2,1620367,"134,966,411"
2,The Dark Knight,2008,"Action, Crime, Drama",9.0,2303232,"534,858,444"
3,The Godfather: Part II,1974,"Crime, Drama",9.0,1129952,"57,300,000"
4,12 Angry Men,1957,"Crime, Drama",9.0,689845,"4,360,000"
...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,"Comedy, Drama, Romance",7.6,166544,NaN
996,Giant,1956,"Drama, Western",7.6,34075,NaN
997,From Here to Eternity,1953,"Drama, Romance, War",7.6,43374,"30,500,000"
998,Lifeboat,1944,"Drama, War",7.6,26471,NaN
999,The 39 Steps,1935,"Crime, Mystery, Thriller",7.6,51853,NaN

In [5]:
movies.nsmallest(n=1, columns=['IMDB_Rating', 'No_of_Votes'])

,Series_Title,Released_Year,Genre,IMDB_Rating,No_of_Votes,Gross
989,The Long Goodbye,1973,"Comedy, Crime, Drama",7.6,26337,"959,000"

In [6]:
movies.nlargest(n=1, columns=['IMDB_Rating', 'No_of_Votes'])

,Series_Title,Released_Year,Genre,IMDB_Rating,No_of_Votes,Gross
0,The Shawshank Redemption,1994,Drama,9.3,2343110,"28,341,469"

In [7]:
movies['Genre'].head(5)

0                   Drama
1            Crime, Drama
2    Action, Crime, Drama
3            Crime, Drama
4            Crime, Drama
Name: Genre, dtype: object

In [14]:
movies['Gross'] = movies['Gross'].str.replace(',', '')
movies

,Series_Title,Released_Year,Genre,IMDB_Rating,No_of_Votes,Gross
0,The Shawshank Redemption,1994,Drama,9.3,2343110,28341469
1,The Godfather,1972,"Crime, Drama",9.2,1620367,134966411
2,The Dark Knight,2008,"Action, Crime, Drama",9.0,2303232,534858444
3,The Godfather: Part II,1974,"Crime, Drama",9.0,1129952,57300000
4,12 Angry Men,1957,"Crime, Drama",9.0,689845,4360000
...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,"Comedy, Drama, Romance",7.6,166544,NaN
996,Giant,1956,"Drama, Western",7.6,34075,NaN
997,From Here to Eternity,1953,"Drama, Romance, War",7.6,43374,30500000
998,Lifeboat,1944,"Drama, War",7.6,26471,NaN
999,The 39 Steps,1935,"Crime, Mystery, Thriller",7.6,51853,NaN

In [15]:
movies.describe()

       IMDB_Rating   No_of_Votes
count  1000.000000  1.000000e+03
mean      7.949300  2.736929e+05
std       0.275491  3.273727e+05
min       7.600000  2.508800e+04
25%       7.700000  5.552625e+04
50%       7.900000  1.385485e+05
75%       8.100000  3.741612e+05
max       9.300000  2.343110e+06

In [16]:
movies['Gross'] = movies['Gross'].fillna(0).astype('int64')
movies

,Series_Title,Released_Year,Genre,IMDB_Rating,No_of_Votes,Gross
0,The Shawshank Redemption,1994,Drama,9.3,2343110,28341469
1,The Godfather,1972,"Crime, Drama",9.2,1620367,134966411
2,The Dark Knight,2008,"Action, Crime, Drama",9.0,2303232,534858444
3,The Godfather: Part II,1974,"Crime, Drama",9.0,1129952,57300000
4,12 Angry Men,1957,"Crime, Drama",9.0,689845,4360000
...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,"Comedy, Drama, Romance",7.6,166544,0
996,Giant,1956,"Drama, Western",7.6,34075,0
997,From Here to Eternity,1953,"Drama, Romance, War",7.6,43374,30500000
998,Lifeboat,1944,"Drama, War",7.6,26471,0
999,The 39 Steps,1935,"Crime, Mystery, Thriller",7.6,51853,0

In [22]:
movies.sort_values(by='Gross', ascending=False).head(3)

,Series_Title,Released_Year,Genre,IMDB_Rating,No_of_Votes,Gross
477,Star Wars: Episode VII - The Force Awakens,2015,"Action, Adventure, Sci-Fi",7.9,860823,936662225
59,Avengers: Endgame,2019,"Action, Adventure, Drama",8.4,809955,858373000
623,Avatar,2009,"Action, Adventure, Fantasy",7.8,1118998,760507625