In [13]:
import pandas as pd

In [21]:
richest = pd.read_csv('TopRichestInWorld.csv', index_col='Name')
richest.drop(columns=['Source'], inplace=True)
richest

,NetWorth,Age,Country/Territory,Industry
Name,,,,
Elon Musk,"$219,000,000,000",50,United States,Automotive
Jeff Bezos,"$171,000,000,000",58,United States,Technology
Bernard Arnault & family,"$158,000,000,000",73,France,Fashion & Retail
Bill Gates,"$129,000,000,000",66,United States,Technology
Warren Buffett,"$118,000,000,000",91,United States,Finance & Investments
...,...,...,...,...
Vladimir Potanin,"$17,300,000,000",61,Russia,Metals & Mining
Harold Hamm & family,"$17,200,000,000",76,United States,Energy
Sun Piaoyang,"$17,100,000,000",63,China,Healthcare
Luo Liguo & family,"$17,000,000,000",66,China,Manufacturing
Peter Woo,"$17,000,000,000",75,Hong Kong,Real Estate

In [22]:
# stack all the columns = ['NetWorth', 'Age', 'Country/Territory', 'Industry'], to be an index
richest = richest.stack(future_stack=True)
richest

Name
Elon Musk           NetWorth             $219,000,000,000
                    Age                                50
                    Country/Territory       United States
                    Industry                   Automotive
Jeff Bezos          NetWorth             $171,000,000,000
                                               ...
Luo Liguo & family  Industry                Manufacturing
Peter Woo           NetWorth              $17,000,000,000
                    Age                                75
                    Country/Territory           Hong Kong
                    Industry                  Real Estate
Length: 404, dtype: object

In [23]:
pd.DataFrame(richest)

                                                     0
Name
Elon Musk          NetWorth           $219,000,000,000
                   Age                              50
                   Country/Territory     United States
                   Industry                 Automotive
Jeff Bezos         NetWorth           $171,000,000,000
...                                                ...
Luo Liguo & family Industry              Manufacturing
Peter Woo          NetWorth            $17,000,000,000
                   Age                              75
                   Country/Territory         Hong Kong
                   Industry                Real Estate

[404 rows x 1 columns]

In [24]:
richest.index

MultiIndex([(               'Elon Musk',          'NetWorth'),
            (               'Elon Musk',               'Age'),
            (               'Elon Musk', 'Country/Territory'),
            (               'Elon Musk',          'Industry'),
            (              'Jeff Bezos',          'NetWorth'),
            (              'Jeff Bezos',               'Age'),
            (              'Jeff Bezos', 'Country/Territory'),
            (              'Jeff Bezos',          'Industry'),
            ('Bernard Arnault & family',          'NetWorth'),
            ('Bernard Arnault & family',               'Age'),
            ...
            (            'Sun Piaoyang', 'Country/Territory'),
            (            'Sun Piaoyang',          'Industry'),
            (      'Luo Liguo & family',          'NetWorth'),
            (      'Luo Liguo & family',               'Age'),
            (      'Luo Liguo & family', 'Country/Territory'),
            (      'Luo Liguo & family',          'Industry'),
            (               'Peter Woo',          'NetWorth'),
            (               'Peter Woo',               'Age'),
            (               'Peter Woo', 'Country/Territory'),
            (               'Peter Woo',          'Industry')],
           names=['Name', None], length=404)

In [25]:
richest = richest.unstack()
richest

,NetWorth,Age,Country/Territory,Industry
Name,,,,
Elon Musk,"$219,000,000,000",50,United States,Automotive
Jeff Bezos,"$171,000,000,000",58,United States,Technology
Bernard Arnault & family,"$158,000,000,000",73,France,Fashion & Retail
Bill Gates,"$129,000,000,000",66,United States,Technology
Warren Buffett,"$118,000,000,000",91,United States,Finance & Investments
...,...,...,...,...
Vladimir Potanin,"$17,300,000,000",61,Russia,Metals & Mining
Harold Hamm & family,"$17,200,000,000",76,United States,Energy
Sun Piaoyang,"$17,100,000,000",63,China,Healthcare
Luo Liguo & family,"$17,000,000,000",66,China,Manufacturing
Peter Woo,"$17,000,000,000",75,Hong Kong,Real Estate

In [26]:
richest.unstack()

          Name
NetWorth  Elon Musk                   $219,000,000,000
          Jeff Bezos                  $171,000,000,000
          Bernard Arnault & family    $158,000,000,000
          Bill Gates                  $129,000,000,000
          Warren Buffett              $118,000,000,000
                                            ...
Industry  Vladimir Potanin             Metals & Mining
          Harold Hamm & family                  Energy
          Sun Piaoyang                      Healthcare
          Luo Liguo & family             Manufacturing
          Peter Woo                        Real Estate
Length: 404, dtype: object

In [27]:
pd.DataFrame(richest)

,NetWorth,Age,Country/Territory,Industry
Name,,,,
Elon Musk,"$219,000,000,000",50,United States,Automotive
Jeff Bezos,"$171,000,000,000",58,United States,Technology
Bernard Arnault & family,"$158,000,000,000",73,France,Fashion & Retail
Bill Gates,"$129,000,000,000",66,United States,Technology
Warren Buffett,"$118,000,000,000",91,United States,Finance & Investments
...,...,...,...,...
Vladimir Potanin,"$17,300,000,000",61,Russia,Metals & Mining
Harold Hamm & family,"$17,200,000,000",76,United States,Energy
Sun Piaoyang,"$17,100,000,000",63,China,Healthcare
Luo Liguo & family,"$17,000,000,000",66,China,Manufacturing
Peter Woo,"$17,000,000,000",75,Hong Kong,Real Estate

In [28]:
richest = pd.read_csv('TopRichestInWorld.csv', index_col=['Industry', 'Name'])
richest

,,NetWorth,Age,Country/Territory,Source
Industry,Name,,,,
Automotive,Elon Musk,"$219,000,000,000",50,United States,"Tesla, SpaceX"
Technology,Jeff Bezos,"$171,000,000,000",58,United States,Amazon
Fashion & Retail,Bernard Arnault & family,"$158,000,000,000",73,France,LVMH
Technology,Bill Gates,"$129,000,000,000",66,United States,Microsoft
Finance & Investments,Warren Buffett,"$118,000,000,000",91,United States,Berkshire Hathaway
...,...,...,...,...,...
Metals & Mining,Vladimir Potanin,"$17,300,000,000",61,Russia,metals
Energy,Harold Hamm & family,"$17,200,000,000",76,United States,oil & gas
Healthcare,Sun Piaoyang,"$17,100,000,000",63,China,pharmaceuticals
Manufacturing,Luo Liguo & family,"$17,000,000,000",66,China,chemicals
Real Estate,Peter Woo,"$17,000,000,000",75,Hong Kong,real estate

In [29]:
richest.unstack(level=1)

                              NetWorth                                    \
Name                   Abigail Johnson Alain Wertheimer     Alice Walton
Industry
Automotive                         NaN              NaN              NaN
Diversified                        NaN              NaN              NaN
Energy                             NaN              NaN              NaN
Fashion & Retail                   NaN  $31,200,000,000  $65,300,000,000
Finance & Investments  $21,200,000,000              NaN              NaN
Food & Beverage                    NaN              NaN              NaN
Gambling & Casinos                 NaN              NaN              NaN
Healthcare                         NaN              NaN              NaN
Logistics                          NaN              NaN              NaN
Manufacturing                      NaN              NaN              NaN
Media & Entertainment              NaN              NaN              NaN
Metals & Mining                    NaN              NaN              NaN
Real Estate                        NaN              NaN              NaN
Service                            NaN              NaN              NaN
Technology                         NaN              NaN              NaN
Telecom                            NaN              NaN              NaN

                                                         \
Name                    Amancio Ortega   Andrew Forrest
Industry
Automotive                         NaN              NaN
Diversified                        NaN              NaN
Energy                             NaN              NaN
Fashion & Retail       $59,600,000,000              NaN
Finance & Investments              NaN              NaN
Food & Beverage                    NaN              NaN
Gambling & Casinos                 NaN              NaN
Healthcare                         NaN              NaN
Logistics                          NaN              NaN
Manufacturing                      NaN              NaN
Media & Entertainment              NaN              NaN
Metals & Mining                    NaN  $17,800,000,000
Real Estate                        NaN              NaN
Service                            NaN              NaN
Technology                         NaN              NaN
Telecom                            NaN              NaN

                                                                  \
Name                  Beate Heister & Karl Albrecht Jr. & family
Industry
Automotive                                                   NaN
Diversified                                                  NaN
Energy                                                       NaN
Fashion & Retail                                 $36,800,000,000
Finance & Investments                                        NaN
Food & Beverage                                              NaN
Gambling & Casinos                                           NaN
Healthcare                                                   NaN
Logistics                                                    NaN
Manufacturing                                                NaN
Media & Entertainment                                        NaN
Metals & Mining                                              NaN
Real Estate                                                  NaN
Service                                                      NaN
Technology                                                   NaN
Telecom                                                      NaN

                                                                  \
Name                  Bernard Arnault & family        Bill Gates
Industry
Automotive                                 NaN               NaN
Diversified                                NaN               NaN
Energy                                     NaN               NaN
Fashion & Retail              $158,000,000,000               NaN
Finance & Investments                      NaN               NaN
Food & Beverage                            NaN               NaN
Gambling & Casinos                         NaN               NaN
Healthcare                                 NaN               NaN
Logistics                                  NaN               NaN
Manufacturing                              NaN               NaN
Media & Entertainment                      NaN               NaN
Metals & Mining                            NaN               NaN
Real Estate                                NaN               NaN
Service                                    NaN               NaN
Technology                                 NaN  $129,000,000,000
Telecom                                    NaN               NaN

                                                                  ...  \
Name                  Carlos Slim Helu & family   Changpeng Zhao  ...
Industry                                                          ...
Automotive                                  NaN              NaN  ...
Diversified                                 NaN              NaN  ...
Energy                                      NaN              NaN  ...
Fashion & Retail                            NaN              NaN  ...
Finance & Investments                       NaN  $65,000,000,000  ...
Food & Beverage                             NaN              NaN  ...
Gambling & Casinos                          NaN              NaN  ...
Healthcare                                  NaN              NaN  ...
Logistics                                   NaN              NaN  ...
Manufacturing                               NaN              NaN  ...
Media & Entertainment                       NaN              NaN  ...
Metals & Mining                             NaN              NaN  ...
Real Estate                                 NaN              NaN  ...
Service                                     NaN              NaN  ...
Technology                                  NaN              NaN  ...
Telecom                         $81,200,000,000              NaN  ...

                                 Source                   \
Name                     Vladimir Lisin Vladimir Potanin
Industry
Automotive                          NaN              NaN
Diversified                         NaN              NaN
Energy                              NaN              NaN
Fashion & Retail                    NaN              NaN
Finance & Investments               NaN              NaN
Food & Beverage                     NaN              NaN
Gambling & Casinos                  NaN              NaN
Healthcare                          NaN              NaN
Logistics                           NaN              NaN
Manufacturing                       NaN              NaN
Media & Entertainment               NaN              NaN
Metals & Mining        steel, transport           metals
Real Estate                         NaN              NaN
Service                             NaN              NaN
Technology                          NaN              NaN
Telecom                             NaN              NaN

                                                                 \
Name                             Wang Chuanfu          Wang Wei
Industry
Automotive             batteries, automobiles               NaN
Diversified                               NaN               NaN
Energy                                    NaN               NaN
Fashion & Retail                          NaN               NaN
Finance & Investments                     NaN               NaN
Food & Beverage                           NaN               NaN
Gambling & Casinos                        NaN               NaN
Healthcare                                NaN               NaN
Logistics                                 NaN               NaN
Manufacturing                             NaN               NaN
Media & Entertainment                     NaN               NaN
Metals & Mining                           NaN               NaN
Real Estate                               NaN               NaN
Service                                   NaN  package delivery
Technology                                NaN               NaN
Telecom                                   NaN               NaN

                                                                    \
Name                               Wang Wenyin      Warren Buffett
Industry
Automotive                                 NaN                 NaN
Diversified                                NaN                 NaN
Energy                                     NaN                 NaN
Fashion & Retail                           NaN                 NaN
Finance & Investments                      NaN  Berkshire Hathaway
Food & Beverage                            NaN                 NaN
Gambling & Casinos                         NaN                 NaN
Healthcare                                 NaN                 NaN
Logistics                                  NaN                 NaN
Manufacturing                              NaN                 NaN
Media & Entertainment                      NaN                 NaN
Metals & Mining        mining, copper products                 NaN
Real Estate                                NaN                 NaN
Service                                    NaN                 NaN
Technology                                 NaN                 NaN
Telecom                                    NaN                 NaN

                                                                          \
Name                  William Lei Ding Yang Huiyan & family Zhang Yiming
Industry
Automotive                         NaN                  NaN          NaN
Diversified                        NaN                  NaN          NaN
Energy                             NaN                  NaN          NaN
Fashion & Retail                   NaN                  NaN          NaN
Finance & Investments              NaN                  NaN          NaN
Food & Beverage                    NaN                  NaN          NaN
Gambling & Casinos                 NaN                  NaN          NaN
Healthcare                         NaN                  NaN          NaN
Logistics                          NaN                  NaN          NaN
Manufacturing                      NaN                  NaN          NaN
Media & Entertainment              NaN                  NaN       TikTok
Metals & Mining                    NaN                  NaN          NaN
Real Estate                        NaN          real estate          NaN
Service                            NaN                  NaN          NaN
Technology                online games                  NaN          NaN
Telecom                            NaN                  NaN          NaN


Name                               Zhong Shanshan
Industry
Automotive                                    NaN
Diversified                                   NaN
Energy                                        NaN
Fashion & Retail                              NaN
Finance & Investments                         NaN
Food & Beverage        beverages, pharmaceuticals
Gambling & Casinos                            NaN
Healthcare                                    NaN
Logistics                                     NaN
Manufacturing                                 NaN
Media & Entertainment                         NaN
Metals & Mining                               NaN
Real Estate                                   NaN
Service                                       NaN
Technology                                    NaN
Telecom                                       NaN

[16 rows x 404 columns]

In [30]:
richest.unstack(level=0)

                       NetWorth                                      \
Industry             Automotive Diversified Energy Fashion & Retail
Name
Abigail Johnson             NaN         NaN    NaN              NaN
Alain Wertheimer            NaN         NaN    NaN  $31,200,000,000
Alice Walton                NaN         NaN    NaN  $65,300,000,000
Amancio Ortega              NaN         NaN    NaN  $59,600,000,000
Andrew Forrest              NaN         NaN    NaN              NaN
...                         ...         ...    ...              ...
Warren Buffett              NaN         NaN    NaN              NaN
William Lei Ding            NaN         NaN    NaN              NaN
Yang Huiyan & family        NaN         NaN    NaN              NaN
Zhang Yiming                NaN         NaN    NaN              NaN
Zhong Shanshan              NaN         NaN    NaN              NaN

                                                             \
Industry             Finance & Investments  Food & Beverage
Name
Abigail Johnson            $21,200,000,000              NaN
Alain Wertheimer                       NaN              NaN
Alice Walton                           NaN              NaN
Amancio Ortega                         NaN              NaN
Andrew Forrest                         NaN              NaN
...                                    ...              ...
Warren Buffett            $118,000,000,000              NaN
William Lei Ding                       NaN              NaN
Yang Huiyan & family                   NaN              NaN
Zhang Yiming                           NaN              NaN
Zhong Shanshan                         NaN  $65,700,000,000

                                                                            \
Industry             Gambling & Casinos Healthcare Logistics Manufacturing
Name
Abigail Johnson                     NaN        NaN       NaN           NaN
Alain Wertheimer                    NaN        NaN       NaN           NaN
Alice Walton                        NaN        NaN       NaN           NaN
Amancio Ortega                      NaN        NaN       NaN           NaN
Andrew Forrest                      NaN        NaN       NaN           NaN
...                                 ...        ...       ...           ...
Warren Buffett                      NaN        NaN       NaN           NaN
William Lei Ding                    NaN        NaN       NaN           NaN
Yang Huiyan & family                NaN        NaN       NaN           NaN
Zhang Yiming                        NaN        NaN       NaN           NaN
Zhong Shanshan                      NaN        NaN       NaN           NaN

                      ...             Source                       \
Industry              ... Gambling & Casinos Healthcare Logistics
Name                  ...
Abigail Johnson       ...                NaN        NaN       NaN
Alain Wertheimer      ...                NaN        NaN       NaN
Alice Walton          ...                NaN        NaN       NaN
Amancio Ortega        ...                NaN        NaN       NaN
Andrew Forrest        ...                NaN        NaN       NaN
...                   ...                ...        ...       ...
Warren Buffett        ...                NaN        NaN       NaN
William Lei Ding      ...                NaN        NaN       NaN
Yang Huiyan & family  ...                NaN        NaN       NaN
Zhang Yiming          ...                NaN        NaN       NaN
Zhong Shanshan        ...                NaN        NaN       NaN

                                                                          \
Industry             Manufacturing Media & Entertainment Metals & Mining
Name
Abigail Johnson                NaN                   NaN             NaN
Alain Wertheimer               NaN                   NaN             NaN
Alice Walton                   NaN                   NaN             NaN
Amancio Ortega                 NaN                   NaN             NaN
Andrew Forrest                 NaN                   NaN          mining
...                            ...                   ...             ...
Warren Buffett                 NaN                   NaN             NaN
William Lei Ding               NaN                   NaN             NaN
Yang Huiyan & family           NaN                   NaN             NaN
Zhang Yiming                   NaN                TikTok             NaN
Zhong Shanshan                 NaN                   NaN             NaN


Industry              Real Estate Service    Technology Telecom
Name
Abigail Johnson               NaN     NaN           NaN     NaN
Alain Wertheimer              NaN     NaN           NaN     NaN
Alice Walton                  NaN     NaN           NaN     NaN
Amancio Ortega                NaN     NaN           NaN     NaN
Andrew Forrest                NaN     NaN           NaN     NaN
...                           ...     ...           ...     ...
Warren Buffett                NaN     NaN           NaN     NaN
William Lei Ding              NaN     NaN  online games     NaN
Yang Huiyan & family  real estate     NaN           NaN     NaN
Zhang Yiming                  NaN     NaN           NaN     NaN
Zhong Shanshan                NaN     NaN           NaN     NaN

[101 rows x 64 columns]