In [1]:
import pandas as pd
print(pd.__version__)

2.2.2

In [2]:
richest = pd.read_csv('TopRichestInWorld.csv', usecols=['Industry'])
richest

                  Industry
0               Automotive
1               Technology
2         Fashion & Retail
3               Technology
4    Finance & Investments
..                     ...
96         Metals & Mining
97                  Energy
98              Healthcare
99           Manufacturing
100            Real Estate

[101 rows x 1 columns]

In [3]:
richest.value_counts(normalize=False, sort=False)

Industry
Automotive                7
Diversified               6
Energy                    2
Fashion & Retail         18
Finance & Investments    13
Food & Beverage           8
Gambling & Casinos        1
Healthcare                5
Logistics                 2
Manufacturing             5
Media & Entertainment     4
Metals & Mining           9
Real Estate               3
Service                   1
Technology               15
Telecom                   2
Name: count, dtype: int64

In [4]:
richest = pd.read_csv('TopRichestInWorld.csv', usecols=['Age']).squeeze()
richest

0      50
1      58
2      73
3      66
4      91
       ..
96     61
97     76
98     63
99     66
100    75
Name: Age, Length: 101, dtype: int64

In [6]:
richest.value_counts(bins=10) # Bins only works with numerical data

(62.0, 68.4]      18
(55.6, 62.0]      15
(74.8, 81.2]      15
(49.2, 55.6]      14
(81.2, 87.6]      14
(68.4, 74.8]      12
(87.6, 94.0]       5
(36.4, 42.8]       4
(42.8, 49.2]       3
(29.935, 36.4]     1
Name: count, dtype: int64