In [2]:
import pandas as pd

In [3]:
richest = pd.read_csv('TopRichestInWorld.csv', usecols = ['Name']).squeeze() # .squeeze will transform DataFrame into Series
richest

0                     Elon Musk
1                    Jeff Bezos
2      Bernard Arnault & family
3                    Bill Gates
4                Warren Buffett
                 ...
96             Vladimir Potanin
97         Harold Hamm & family
98                 Sun Piaoyang
99           Luo Liguo & family
100                   Peter Woo
Name: Name, Length: 101, dtype: object

In [4]:
type(richest) # checking the type of richest

pandas.core.series.Series

In [5]:
# Create a csv(it will be placed in the current folder)
richest.to_csv('test.csv', index=False) # with index set to false we will not generate and extra index

In [6]:
pd.read_csv('test.csv')

                         Name
0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
..                        ...
96           Vladimir Potanin
97       Harold Hamm & family
98               Sun Piaoyang
99         Luo Liguo & family
100                 Peter Woo

[101 rows x 1 columns]

In [8]:
type('test.csv')

str