In [1]:
import pandas as pd

In [2]:
richest = pd.read_csv('TopRichestInWorld.csv', usecols=['Name']).squeeze()
richest

0                     Elon Musk
1                    Jeff Bezos
2      Bernard Arnault & family
3                    Bill Gates
4                Warren Buffett
                 ...
96             Vladimir Potanin
97         Harold Hamm & family
98                 Sun Piaoyang
99           Luo Liguo & family
100                   Peter Woo
Name: Name, Length: 101, dtype: object

# with default the .head() will give us back first 5 elements, but we can specify how many elements we actually want 
# for example .head(10)

In [3]:
richest.head(10)

0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
5                  Larry Page
6                 Sergey Brin
7               Larry Ellison
8               Steve Ballmer
9               Mukesh Ambani
Name: Name, dtype: object

In [4]:
richest.head(-10) # when we use negative numbers it will exclude the last specified amount of rows

0                    Elon Musk
1                   Jeff Bezos
2     Bernard Arnault & family
3                   Bill Gates
4               Warren Buffett
                ...
86              Vladimir Lisin
87        Fan Hongwei & family
88              Lakshmi Mittal
89              Andrew Forrest
90     Jiang Rensheng & family
Name: Name, Length: 91, dtype: object

# .tail() does the opposite of the head, meaning it will get us data from the end of our database

In [5]:
richest.tail(10)

91     Savitri Jindal & family
92                 Wang Wenyin
93                   Li Xiting
94              Stefan Persson
95                 Steve Cohen
96            Vladimir Potanin
97        Harold Hamm & family
98                Sun Piaoyang
99          Luo Liguo & family
100                  Peter Woo
Name: Name, dtype: object

In [6]:
richest.tail(-10) # using negative will exclude the first specified amount of elements

10                     Gautam Adani & family
11                         Michael Bloomberg
12                 Carlos Slim Helu & family
13     Francoise Bettencourt Meyers & family
14                           Mark Zuckerberg
                       ...
96                          Vladimir Potanin
97                      Harold Hamm & family
98                              Sun Piaoyang
99                        Luo Liguo & family
100                                Peter Woo
Name: Name, Length: 91, dtype: object

In [7]:
richest_copy = richest.sort_values(
                    axis=0, 
                    ascending=True,
                    kind='quicksort',
                    na_position='last',
                    ignore_index=True)
richest_copy

0           Abigail Johnson
1          Alain Wertheimer
2              Alice Walton
3            Amancio Ortega
4            Andrew Forrest
               ...
96           Warren Buffett
97         William Lei Ding
98     Yang Huiyan & family
99             Zhang Yiming
100          Zhong Shanshan
Name: Name, Length: 101, dtype: object

In [8]:
richest.sort_index(ascending=False)

100                   Peter Woo
99           Luo Liguo & family
98                 Sun Piaoyang
97         Harold Hamm & family
96             Vladimir Potanin
                 ...
4                Warren Buffett
3                    Bill Gates
2      Bernard Arnault & family
1                    Jeff Bezos
0                     Elon Musk
Name: Name, Length: 101, dtype: object